@model WebAppExercicioPratico03_Lab2_2017_2.Models.NivelEnsino

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>NivelEnsino</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Descricao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descricao)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.NivelEnsinoId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
